services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: Active_2005
      POSTGRES_DB: go_course
    ports:
      - "5430:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - app_data:/var/lib/postgresql/data

volumes:
  app_data:
